
<div class="container ">
  <div class="modal-content">

  <form (ngSubmit)="contactEdit(x)" #x=ngForm >
    <div class="modal-body">
        <label class="form-label">Id</label>
        <input class="form-control" placeholder="Id" [ngModel]="student.id" name="id">

        <label class="form-label">Name</label>
        <input class="form-control" placeholder="Name" [ngModel]="student.name" name="name" [value]="name">

        <label class="form-label">Class</label>
        <input class="form-control" placeholder="Class" [ngModel]="student.class" name="class" >
    

        <label class="form-label">Section</label>
        <input class="form-control" placeholder="Section" [ngModel]="student.section" name="section" >
  
        <label class="form-label">Choose a date</label>
        <input class="form-control"  [ngModel]="student.dob" name="dob" >
    
    <input type="submit" [disabled]="!x.valid" value="Update" class="btn btn-primary" >    
</div>
</form>
    </div>
</div>