<div class="container">
   <button class="btn btn-primary" (click)="openRegister()">Add Student</button>
<table class="table table-striped">
  <tr>
      <th>#</th>
      <th>Name</th>
      <th>Class</th>
      <th>Section</th>
      <th>DOB</th>
      <th>Action</th>
  </tr>
  <tr *ngFor="let item of getStulist() index as i">
      <td>{{i+1}}</td>
      <td><a (click)="openView(item)">{{item.name}}</a></td>
      <td>{{item.class}}</td>
      <td>{{item.section}}</td>
      <td>{{item.dob}}</td>
      <td><a (click)="stuEdit(item)">Edit</a>/<a (click)="delete(item)">Delete</a></td>

  </tr>
</table>
</div>
<router-outlet></router-outlet> 