<div class="container">
   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Student</button>
   <!-- Table -->
<table class="table table-dark table-hover">
  <thead>
  <tr >
      <th>#</th>
      <th>Name</th>
      <th>Class</th>
      <th>Section</th>
      <th>DOB</th>
      <th>Action</th>
  </tr></thead>
  <tbody>
  <tr *ngFor="let item of getStulist() index as i">
      <td>{{i+1}}</td>
      <td><a (click)="openView(item)">{{item.name}}</a></td>
      <td>{{item.class}}</td>
      <td>{{item.section}}</td>
      <td>{{item.dob}}</td>
      <td><a (click)="stuEdit(item)" >Edit</a>/<a (click)="delete(item)">Delete</a></td>

  </tr></tbody>
</table>
</div>

<!-- register PopUp  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Student</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="contact(x)" #x=ngForm>
          <div >
              <label class="form-label">Id :</label>
              <input class="form-control" placeholder="Id" ngModel name="id" type="number"><br>
              <label class="form-label">Name :</label>
              <input  class="form-control" placeholder="Name" ngModel name="name"><br>
              <label class="form-label">Class :</label>
              <input class="form-control"  placeholder="Class" ngModel name="class"><br>
              <label class="form-label">Section :</label>
              <input class="form-control"  placeholder="Section" ngModel name="section"><br>
              <label class="form-label">DOB :</label>
              <input  class="form-control" ngModel name="dob" type="date">
          </div>
          
          <input type="submit" [disabled]="!x.valid" value="Add" data-bs-dismiss="modal" class="btn btn-primary">  
      </form>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet> 



<!-- <div mat-dialog-title>Edit Student</div>
<div mat-dialog-content > 
  <form (ngSubmit)="contactEdit(x)" #x=ngForm >
    <div class="row">
      <mat-form-field  appearance="fill" >
        <mat-label>Id</mat-label>
        <input matInput placeholder="Id" [ngModel]="student.id" name="id"  >
      </mat-form-field>
   
    <mat-form-field  appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [ngModel]="student.name" name="name" [value]="name">
      </mat-form-field>
      </div>
      <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Class</mat-label>
        <input matInput placeholder="Class" [ngModel]="student.class" name="class" >
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label >Section</mat-label>
        <input matInput placeholder="Section" [ngModel]="student.section" name="section" >
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput  [ngModel]="student.dob" name="dob" >
        <mat-hint>MM/DD/YYYY</mat-hint>

      </mat-form-field>
    
    <input type="submit" [disabled]="!x.valid" value="Update">    
    </div>
</form>
     </div>
 -->

     