<!-- 
 



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Student</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="contact(x)" #x=ngForm>
          <div >
              <label class="form-label">Id :</label>
              <input class="form-control" placeholder="Id" ngModel name="id" type="number"><br>
              <label class="form-label">Name :</label>
              <input  class="form-control" placeholder="Name" ngModel name="name"><br>
              <label class="form-label">Class :</label>
              <input class="form-control"  placeholder="Class" ngModel name="class"><br>
              <label class="form-label">Section :</label>
              <input class="form-control"  placeholder="Section" ngModel name="section"><br>
              <label class="form-label">DOB :</label>
              <input  class="form-control" ngModel name="dob" type="date">
          </div>
          <div class="row">
          <input type="submit" [disabled]="!x.valid" value="Add"> 
        </div>
      </form>
      </div>
    </div>
  </div>
</div> -->